<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Snake Reborn Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
    	<h1>SNAKE REBORN</h1>
    	<div><a href="/loginUser"><span th:text="#{label.login}">Login</span></a></div>
    	<div><a href="/register"><span th:text="#{label.register}">Register</span></a></div>
        <div><a href=""><span th:text="#{label.downloadGame}">DOWNLOAD THE GAME!</span></a></div>
    </body>
</html>